h1{
  font-size: 55px;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
  color: #20B2AA;
/*   color:#3d22a8; */
}

#sci{
    color:#3d22a8;
    font-size: 55px;
}
#top {
    background-color: #ccc;
    padding: 20px
}
#ua{
     border-radius: 50%;
}
#graph{
    display: block;
  margin-left: auto;
  margin-right: auto;
}