 
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Graph2</title>
<link rel="stylesheet" href="{{ url_for('static',filename='css/graphs.css') }}">
<link rel="stylesheet" href="{{ url_for('static',  
    filename='yarn/node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
   
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <img class="ua" src="{{ url_for('static',filename='images/ualogo.jpeg') }}" alt="Temp Line Graph" style="width:60px;">
  
  <a class="navbar-brand" href="#"> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/graph1">Graph 1</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/graph2"> Graph2</a>
      </li>
     
   
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
          
</nav>
     <h1 > ASRCxCITE  </h1>
    <img class="graphs" src="{{ url_for('static',filename='images/fungraph.png') }}" alt="Temp Line Graph">
</body>
    
     <script type=text/javascript src="{{
  url_for('static', filename='yarn/node_modules/jquery/dist/jquery.js') }}"></script>
    
    <script src="{{url_for('static', filename='yarn/node_modules/bootstrap/dist/js/bootstrap.min.js')}}">
    </script>
</html>
